<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ryey.easer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".EaserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <receiver android:name=".skills.event.widget.UserActionWidget"
            android:label="@string/event_widget_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_event_widget_info" />
        </receiver>

        <activity android:name=".skills.event.widget.UserActionWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.ui.version_n_info.AboutActivity"
            android:theme="@style/AppTheme.About" />
        <activity android:name=".core.ui.version_n_info.WelcomeActivity" />
        <activity
            android:name=".core.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.EHService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".core.ProfileLoaderService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".core.ui.setting.SettingsActivity"
            android:label="@string/title_setting" />

        <receiver
            android:name=".core.BootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- Added for issue #44, to test if related to warm boot and cold boot {{{ -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- }}} -->
            </intent-filter>
        </receiver>

        <activity android:name=".core.ui.data.script.EditScriptActivity" />
        <activity android:name=".core.ui.data.profile.EditProfileActivity" />
        <activity
            android:name=".skills.operation.brightness.DumbSettingBrightnessActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.antonc.phone_schedule.Dummy"
            android:theme="@style/EmptyActivity" />

        <service
            android:name=".skills.operation.ringer_mode.InterruptionFilterSwitcherService"
            android:label="@string/label_operation_ringer_mode_notification_listener_service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".skills.event.notification.NotificationEventListenerService"
            android:label="@string/label_event_notification_listener_service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".skills.event.nfc_tag.WaitForNfcActivity"
            android:enabled="false"
            android:theme="@style/AppTheme.ActivityDialog">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".skills.event.nfc_tag.NfcListenerActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".skills.event.nfc_tag.NfcListenerService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".core.ui.data.event.EditEventActivity" />

        <service
            android:name=".skills.operation.media_control.MediaControlHelperNotificationListenerService"
            android:label="@string/operation_media_control_helper_service_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".core.ui.data.condition.EditConditionActivity" />

        <receiver
            android:name=".core.UpgradeCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".core.ConditionHolderService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".core.ui.data.script.ListDynamicsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_dynamics_link" />
        <activity
            android:name=".core.ui.data.script.ListDynamicsActivity$EditDynamicsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_new_dynamics_link" />

        <service
            android:name=".core.log.ActivityLogService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".core.EaserStatusWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ryey.easer.core.EaserStatusWidget.ACTION_CLICK" />
                <action android:name="ryey.easer.action.STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/easer_status_widget_info" />
        </receiver>

        <service
            android:name=".core.RemotePluginRegistryService"
            android:enabled="true"
            android:exported="false"
            android:process=":RemotePlugin" />
    </application>

</manifest>